<script src="contact.js"></script>
<form class="formwidth" id="contact-form" method=POST action="send" enctype="multipart/form-data" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="firstname" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput id="firstname" [(ngModel)]="transmitter.firstname" name="firstname" autocomplete="off" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="lastname" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput id="lastname" [(ngModel)]="transmitter.lastname" name="lastname" autocomplete="off" required>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="email" appearance="outline">
          <mat-label>Email address</mat-label>
          <input matInput id="email" [(ngModel)]="transmitter.email" name="email" autocomplete="off" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="subject" appearance="outline">
          <mat-label>Subject</mat-label>
          <input matInput id="subject" [(ngModel)]="transmitter.subject" name="subject" autocomplete="off" required>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <p>
    <mat-form-field class="message" appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput id="address" [(ngModel)]="transmitter.message" name="message" autocomplete="off" required></textarea>
    </mat-form-field>
  </p>
  <p>
    <button class="submit" mat-button type="submit" value="submit">Submit</button>
  </p>
</form>
