<div class="accordion-container">
  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img *ngIf="currentIndex === 0" class="astek" src="assets/image/astek.png" alt="ASTEK" [@crossfade]>
          <img *ngIf="currentIndex === 1" class="ineat" src="assets/image/ineat.png" alt="INEAT" [@crossfade]>
        </mat-panel-title>
        <mat-panel-description>
          <div class="col">
            <div class="row"><h3>{{ 'astekIneatPost' | translate }}</h3></div>
            <div class="row"><p>{{ 'astekIneat' | translate }}</p></div>
            <div class="row"><p>{{ 'astekIneatDate' | translate }}</p></div>
            <div class="row"><p>{{ 'astekIneatCity' | translate }}</p></div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="content">
        <ul>
          <li>{{ 'astekIneatContent1' | translate }}</li>
          <li>{{ 'astekIneatContent2' | translate }}</li>
          <li>{{ 'astekIneatContent3' | translate }}</li>
          <li>{{ 'astekIneatContent4' | translate }}</li>
          <li>{{ 'astekIneatContent5' | translate }}</li>
          <li>{{ 'astekIneatContent6' | translate }}</li>
          <li>{{ 'astekIneatContent7' | translate }}</li>
          <li>{{ 'astekIneatContent8' | translate }}</li>
          <li>{{ 'astekIneatContent9' | translate }}</li>
          <li>{{ 'astekIneatContent10' | translate }}</li>
          <li>{{ 'astekIneatContent11' | translate }}</li>
          <li>{{ 'astekIneatContent12' | translate }}</li>
          <li>{{ 'astekIneatContent13' | translate }}</li>
          <li>{{ 'astekIneatContent14' | translate }}</li>
          <li>{{ 'astekIneatContent15' | translate }}</li>
          <li>{{ 'astekIneatContent16' | translate }}</li>
          <li>{{ 'astekIneatContent17' | translate }}</li>
          <li>{{ 'astekIneatContent18' | translate }}</li>
        </ul>

        <p>{{ 'astekIneatContent19' | translate }}</p>
        <ul>
          <li>{{ 'astekIneatContent20' | translate }}</li>
          <li>{{ 'astekIneatContent21' | translate }}</li>
          <li>{{ 'astekIneatContent22' | translate }}</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="assets/image/kiabi.png" alt="Kiabi">
        </mat-panel-title>
        <mat-panel-description>
          <div class="col">
            <div class="row"><h3>{{ 'kiabiPost' | translate }}</h3></div>
            <div class="row"><p>{{ 'kiabi' | translate }}</p></div>
            <div class="row"><p>{{ 'kiabiDate' | translate }}</p></div>
            <div class="row"><p>{{ 'kiabiCity' | translate }}</p></div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="content">
        <ul>
          <li>{{ 'kiabiContent1' | translate }}</li>
          <li>{{ 'kiabiContent2' | translate }}</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="assets/image/sad_marketing.png" alt="SAD Marketing">
        </mat-panel-title>
        <mat-panel-description>
          <div class="col">
            <div class="row"><h3>{{ 'sadMarketingPost' | translate }}</h3></div>
            <div class="row"><p>{{ 'sadMarketing' | translate }}</p></div>
            <div class="row"><p>{{ 'sadMarketingDate' | translate }}</p></div>
            <div class="row"><p>{{ 'sadMarketingCity' | translate }}</p></div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="content">
        <p>{{ 'sadMarketingContent1' | translate }}</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="assets/image/mon_imaginarium.png" alt="Mon Imaginarium">
        </mat-panel-title>
        <mat-panel-description>
          <div class="col">
            <div class="row"><h3>{{ 'monImaginariumPost' | translate }}</h3></div>
            <div class="row"><p>{{ 'monImaginarium' | translate }}</p></div>
            <div class="row"><p>{{ 'monImaginariumDate' | translate }}</p></div>
            <div class="row"><p>{{ 'monImaginariumCity' | translate }}</p></div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="content">
        <ul>
          <li>{{ 'monImaginariumContent1' | translate }}</li>
          <li>{{ 'monImaginariumContent2' | translate }}</li>
          <li>{{ 'monImaginariumContent3' | translate }}</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="assets/image/flunch.png" alt="Flunch">
        </mat-panel-title>
        <mat-panel-description>
          <div class="col">
            <div class="row"><h3>{{ 'flunchPost' | translate }}</h3></div>
            <div class="row"><p>{{ 'flunch' | translate }}</p></div>
            <div class="row"><p>{{ 'flunchDate' | translate }}</p></div>
            <div class="row"><p>{{ 'flunchCity' | translate }}</p></div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="content">
        <ul>
          <li>{{ 'flunchContent1' | translate }}</li>
          <li>{{ 'flunchContent2' | translate }}</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="assets/image/departement_du_nord.png" alt="Département du Nord">
        </mat-panel-title>
        <mat-panel-description>
          <div class="col">
            <div class="row"><h3>{{ 'departementDuNordPost' | translate }}</h3></div>
            <div class="row"><p>{{ 'departementDuNord' | translate }}</p></div>
            <div class="row"><p>{{ 'departementDuNordDate' | translate }}</p></div>
            <div class="row"><p>{{ 'departementDuNordCity' | translate }}</p></div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="content">
        <ul>
          <li>{{ 'departementDuNordContent1' | translate }}</li>
          <li>{{ 'departementDuNordContent2' | translate }}</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="assets/image/boulanger.png" alt="Boulanger">
        </mat-panel-title>
        <mat-panel-description>
          <div class="col">
            <div class="row"><h3>{{ 'boulangerPost' | translate }}</h3></div>
            <div class="row"><p>{{ 'boulanger' | translate }}</p></div>
            <div class="row"><p>{{ 'boulangerDate' | translate }}</p></div>
            <div class="row"><p>{{ 'boulangerCity' | translate }}</p></div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="content">
        <ul>
          <li>{{ 'boulangerContent1' | translate }}</li>
          <li>{{ 'boulangerContent2' | translate }}</li>
          <li>{{ 'boulangerContent3' | translate }}</li>
          <li>{{ 'boulangerContent4' | translate }}</li>
          <li>{{ 'boulangerContent5' | translate }}</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="assets/image/carrefour.png" alt="Carrefour">
        </mat-panel-title>
        <mat-panel-description>
          <div class="col">
            <div class="row"><h3>{{ 'carrefourPost' | translate }}</h3></div>
            <div class="row"><p>{{ 'carrefour' | translate }}</p></div>
            <div class="row"><p>{{ 'carrefourDate' | translate }}</p></div>
            <div class="row"><p>{{ 'carrefourCity' | translate }}</p></div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="content">
        <ul>
          <li>{{ 'carrefourContent1' | translate }}</li>
          <li>{{ 'carrefourContent2' | translate }}</li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="assets/image/gemo.png" alt="Gémo">
        </mat-panel-title>
        <mat-panel-description>
          <div class="col">
            <div class="row"><h3>{{ 'gemo' | translate }}</h3></div>
            <div class="row"><p>{{ 'gemoPost' | translate }}</p></div>
            <div class="row"><p>{{ 'gemoDate' | translate }}</p></div>
            <div class="row"><p>{{ 'gemoCity' | translate }}</p></div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="content">
        <ul>
          <li>{{ 'gemoContent1' | translate }}</li>
          <li>{{ 'gemoContent2' | translate }}</li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
