a, p, mat-icon, h3, li {
  color: white;
}

mat-expansion-panel {
  background-color: #3b3b3b;
  width: 70%;
  min-width: 450px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0;
}

img {
  max-width: 160px;
  width: 160px;
  min-width: 160px;
}

mat-expansion-panel-header {
  background-color: #3b3b3b;
  height: 250px;
}

mat-expansion-panel-header:hover {
  background: #3b3b3b !important;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex-grow: 0;
}

mat-panel-description {
  margin-left: 20px;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex-basis: auto;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

.content {
  margin-top: 70px;
  padding: 16px;
}

ul {
  padding-left: 20px;
  margin: 0;
}

li {
  margin-bottom: 8px;
}

.astek {
  margin-right: 15%;
}

.astek, .ineat {
  max-width: 40% !important;
  width: 40% !important;
  min-width: 25px !important;
}
