html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a, button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background: rgba(0,0,0,.32)
}

.cdk-overlay-pane {
  pointer-events: none !important;
}

.mat-expansion-indicator svg {
  fill: #fff !important;
}

::ng-deep button.mat-flat-button {
  background-color: #bdc3c7 !important;
  color: #333333 !important;
}
